COGNODB_URI=bolt+s://db-1a2b405d.databases.cognodb.com
COGNODB_USERNAME=cognodb
COGNODB_PASSWORD=89e493ff5757030289694ee34b67486f
SECRET_KEY=super-secret-movieverse-key
TMDB_API_KEY=YOUR_TMDB_API_KEY
