body{
    background:#f4f6f9;
    font-family:Arial, Helvetica, sans-serif;
}

.navbar{
    box-shadow:0 2px 10px rgba(0,0,0,.2);
}

.card{
    border:none;
    border-radius:15px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 25px rgba(0,0,0,.15);
}

.btn{
    border-radius:10px;
}

footer{
    margin-top:80px;
}

.badge{
    font-size:15px;
    margin-right:6px;
}